TraceSystemWPF/Service References/Proxy/SuperControl.TraceServerModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SuperControl.TraceServerModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SuperControl.TraceServerModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SuperControl.ServiceModel" />
  <xs:complexType name="TraceModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SuperControl.ServiceModel" base="q1:ModelBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraceModel" nillable="true" type="tns:TraceModel" />
  <xs:complexType name="TraceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraceModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PicInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" type="xs:int" />
          <xs:element minOccurs="0" name="TextInfo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraceInfo" nillable="true" type="tns:TraceInfo" />
  <xs:complexType name="UserInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraceModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserType" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ProductType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraceModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductType" nillable="true" type="tns:ProductType" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraceModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductType" type="xs:int" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserInfo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>